@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;  box-sizing: border-box;
}

header {
  width: 100%;
  background-image: url(https://s7img.ftdi.com/is/image/ProvideCommerce/PF_18_B239_A613_R212_FLORAL_BS_SUMMER_V1_PF_SITE_PLP_BANNER?$proflowers-product-banner-lv$&qlt=80,0&resMode=trilin);
  background-size: 100% 800px;
  background-repeat: no-repeat;
}
header > h1 {
  padding: 200px 20%;
  width: 100%;
  font-size: 80px;
  color: white;
}

.shopping-cart {
  font-size: 15px;

  width: 70%;
  height: 100%;
  margin: 30px auto;
  background: #ffffff;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}
.title {
  height: 60px;
  border-bottom: 1px solid #e1e8ee;
  padding: 20px 30px;
  color: #5e6977;
  font-size: 18px;
  font-weight: 400;
}
.item {
  border-bottom: 1px solid #e1e8ee;
  padding: 20px 30px;
  height: 20%;
  display: flex;
  margin-top: 1%;
}
.prixtotal {
  display: flex;
  width: 70px;
  height: 20px;
  margin: auto;
}
.quantity {
  width: 5%;
  height: 30%;
  margin: auto 7%;
  display: flex;
}
.total-price {
  display: flex;
}

.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}
.delete-btn,
.like-btn {
  display: inline-block;
  cursor: pointer;
  margin: auto 50px;
}
.delete-btn {
  width: 18px;
  height: 17px;
  background: url("../res/delete-icn.svg") no-repeat center;
}
.description {
  width: 300px;
  margin: auto 50px;
  font-size: 20px;
}
.like-btn {
  position: absolute;
  top: 9px;
  left: 15px;
  background: url("../res/twitter-heart.png");
  width: 60px;
  height: 60px;
  background-size: 2900%;
  background-repeat: no-repeat;
}
.total-price {
  float: right;
  margin: auto;
}
.carttotal {
  display: flex;
  justify-content: flex-end;
  margin-top: 0px;
  font-family: 'Open Sans Condensed', sans-serif;
  height: auto;

}
.carttotalitem {
  width: 220px;
  height: 120px;
  align-items: center;
  margin-right: 15%;
  display: flex;
  justify-content: center;
  font-size: 15px;
  color: #be947b;
  text-align: center;
  border-radius: 4px;
  border: #d5edfe solid 1px;
  background:#9ea7bb;

}
.page-footer{margin-top: 50px;
background: #9ea7bb;


}
